body {
        background: linear-gradient(180deg, #95f2ed 3.65%, #64beca 100%);
        font-family: "Montserrat", sans-serif;
      }

      .main-container {
        display: block;
        margin: 44px auto;
        padding-bottom: 15px;
        width: 1113px;
        height: max-content;
        background-color: #ddfffd;
        border-radius: 10px;
        zoom: 85%;
      }

      h1 {
        margin-bottom: 0px;
        padding-top: 90px;
        font-style: italic;
        font-weight: 800;
        font-size: 105px;
        line-height: 128px;
        text-align: center;
        -webkit-text-stroke: 5px #ffb649;
        -webkit-text-fill-color: #ddfffd;
      }

      h2 {
        margin: 0 auto 30px;
        font-style: italic;
        font-weight: 800;
        font-size: 55px;
        line-height: 67px;
        text-align: center;
        color: #ffb649;
      }

      img {
        display: block;
        margin: 0px auto;
        width: 600px;
        height: 400px;
        border-radius: 4px;
      }

      table {
        margin: 40px auto 20px;
      }

      td {
        padding: 30px 3px;
      }

      .number {
        width: 67px;
        height: 117px;
        font-style: italic;
        font-weight: 800;
        font-size: 96px;
        line-height: 117px;
        text-align: right;
        color: #ffb649;
      }

      .card-container {
        position: relative;
        width: 800px;
        height: 164px;
        margin: 0px auto;
      }

      .card {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.75s ease-in-out;
        transform-style: preserve-3d;
      }

      .card:hover {
        transform: rotateX(180deg);
      }

      .front,
      .back {
        backface-visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 8px 8px 15px 5px rgba(0, 0, 0, 0.2);
      }

      .front {
        background-color: #64beca;
        color: #ffffff;
        text-align: center;
        font-style: italic;
        font-weight: 800;
        font-size: 30px;
        line-height: 37px;
      }

      .back {
        transform: rotateX(180deg);
        background-color: #fff;
        color: #64beca;
      }
      .back p {
        margin: 7px auto;
        border: 2px solid #ffd698;
        padding: 27px 16px;
        border-radius: 10px;
        width: 750px;
        height: 92px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
      }

      .link {
        font-style: normal;
        font-size: 25px;
        line-height: 30px;
        color: #64beca;
        width: 550px;
        margin: 35px auto;
      }

      a {
        text-decoration: none;
        color: #ffb649;
      }

      a:hover {
        text-decoration: underline;
      }

      button {
        display: block;
        margin: 50px auto 70px;
        background: rgba(255, 182, 73, 1);
        border: 3px solid rgba(255, 182, 73, 1);
        border-radius: 300px;
        color: #fff;
        font-style: italic;
        font-weight: 800;
        font-size: 30px;
        line-height: 37px;
        padding: 40px 39px;
        transition: all 200ms ease;
        box-shadow: rgba(37, 39, 89, 0.1) 0px 8px 8px 0;
        cursor: pointer;
      }

      button:hover {
        background: #fff;
        color: #64beca;
      }

      .visualIllusion {
        margin: 30px;
      }

      .hidden {
        display: none;
      }

      .visualIllusionHeader {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .cartoon-eyes {
        width: 79px;
        height: 53px;
        margin: 0 27px;
      }

      .visualIllusionHeader p {
        width: 810px;
        font-weight: 600;
        font-size: 20px;
        color: #64beca;
      }

      .visualIllusionImage {
        width: 388px;
        height: 388px;
        margin: 38px auto;
      }

      .visualIllusionText {
        width: 810px;
        margin: 60px auto;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: #ffb649;
      }

      footer {
        text-align: center;
        font-weight: 600;
        opacity: 0.5;
      }
      footer:hover {
        opacity: 1;
      }